.footer-sec {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  gap: 5px;
  margin-top: -50px;
}

.footer-section-main{
  min-height: 250px;
  background-color: #4DB1E3;
  margin-top: -10px; 
  width: 100%;
}

.footer-content{
  margin-top: 30px;
  display:flex;
  justify-content: center;
  gap: 100px;
  font-family: 'helvetic', sans-serif;
  color: white;
  padding-left: 70px;
  z-index: 5;
}

.footer-left-content {
  text-align: justify;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px; 
  z-index: 5;
}

.footer-left-content p {
  margin: 0; 
  z-index: 5;
}

.footer-icon-circle {
  background-color: white;
  color: #0F82CA;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.footer-mid-content{
  text-align: justify;
  width: 300px;
  z-index: 5;
}

.footer-right-content{
  text-align: justify;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px; 
  z-index: 5;
}

.footer-right-content p {
  margin: 0; 
  z-index: 5;
}

.footer-facebook, .footer-instagram, .footer-number, .footer-email {
  display: flex;
  gap: 10px;
  align-items: center; 
  z-index: 5;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: none;
  font-family: 'Helvetica', sans-serif;
}

.footer-facebook img, .footer-instagram img{
  width: 30px;
  height: auto;
  z-index: 5;
  -webkit-user-drag: none;
}

.footer-tk-logo {
  margin-top: -30px;
  height: 120px;
  width: auto;
  object-fit: contain;
  z-index: 5;
  -webkit-user-drag: none;
}

.footer-top-cloud {
  max-width: 120rem; 
  width: 100%;
  height: auto;
  display: block;
  margin: 0; 
  padding: 0;
  z-index: -1;
}

.footer-mid {
  display:relative;
  max-width: 120rem; 
  height: auto;
  display: block;
  margin: 0; 
  padding: 0;
  z-index: -1;
  margin-bottom: -750px;
}

.footer-bot-cloud {
  max-width: 140rem;
  display: block;
  margin: 0; 
  padding: 0;
  z-index: 1;
  margin-top: -650px;
}

.footer-top-cloud,
.footer-mid,
.footer-bot-cloud {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    gap: 30px;
    text-align: center;
    margin-bottom: 50px;
  }

  .footer-left-content,
  .footer-mid-content,
  .footer-right-content {
    width: 100%;
    max-width: 350px;
    font-size: 12px;
  }

  .footer-number,
  .footer-email {
    justify-content: start;
    margin-left: 0;
  }

  .footer-facebook,
  .footer-instagram {
    justify-content: start;
  }

  .footer-tk-logo {
    margin: 0 auto 10px auto;
  }

  
}


